%div.group
  %div.group__prof
    %div.jumbotron
      %div.container
        %h1
          このサークルはこういったことをします
        サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介サークル紹介
        %br/
        %button.btn.btn-primary.btn-lg{:href => "#", :type => "button"} イベント一覧 »

  %div.group__event
    .card{:style => "width: 18rem;"}
      %img.card-img-top{alt: "Card image cap", src: "https://rr.img.naver.jp/mig?src=http%3A%2F%2Fimgcc.naver.jp%2Fkaze%2Fmission%2FUSER%2F20160307%2F51%2F5021%2F67%2F521x691xbac20ad1c74d94439209c5c0.jpg%2F300%2F600&twidth=300&theight=0&qlt=80&res_format=jpg&op=r",　width: "250", height: "200px;"}/
      .card-body
        %h5.card-title イベントタイトル
        %p.card-text イベントのざっくりした内容
        %a.btn.btn-primary{:href => "#"} イベントの詳細ページへ »
    .card{:style => "width: 18rem;"}
      %img.card-img-top{alt: "Card image cap", src: "https://rr.img.naver.jp/mig?src=http%3A%2F%2Fimgcc.naver.jp%2Fkaze%2Fmission%2FUSER%2F20160307%2F51%2F5021%2F67%2F521x691xbac20ad1c74d94439209c5c0.jpg%2F300%2F600&twidth=300&theight=0&qlt=80&res_format=jpg&op=r",　width: "250", height: "200px;"}/
      .card-body
        %h5.card-title イベントタイトル
        %p.card-text イベントのざっくりした内容
        %a.btn.btn-primary{:href => "#"} イベントの詳細ページへ »
    .card{:style => "width: 18rem;"}
      %img.card-img-top{alt: "Card image cap", src: "https://rr.img.naver.jp/mig?src=http%3A%2F%2Fimgcc.naver.jp%2Fkaze%2Fmission%2FUSER%2F20160307%2F51%2F5021%2F67%2F521x691xbac20ad1c74d94439209c5c0.jpg%2F300%2F600&twidth=300&theight=0&qlt=80&res_format=jpg&op=r",　width: "250", height: "200px;"}/
      .card-body
        %h5.card-title イベントタイトル
        %p.card-text イベントのざっくりした内容
        %a.btn.btn-primary{:href => "#"} イベントの詳細ページへ »
  %div.group__boad
    掲示板掲載の予定
